* {
    box-sizing: border-box;
  }
  .menuu{
    overflow: hidden;
    background-color: #51576e;
}
.menuu ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.menuu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menuu a:hover {
  background-color: #CC673B;
}
.menuu ul li ul {
  display: none;
}
.menuu ul li a:hover + ul, .menuu ul li ul:hover {
  display: block;
}
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #5b627e;
  }
  
  .header {
    padding: 30px;
    text-align: center;
    background: #919db7;
  }
  
  .header h1 {
    font-size: 50px;
  }
  
 
  .pestaña {
    overflow: hidden;
    background-color: #51576e;
  }
  
  
  .pestaña a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 
  .pestaña a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  .izquierda {   
    float: left;
    width: 75%;
  }
  
  
  .derecha {
    float: left;
    width: 25%;
    background-color: #5b627e;
    padding-left: 20px;
  }
  img{
      float: right;
      position: relative;
      top: -20px;
  }
  .iz{
    float: left;
    position: relative;
    top: -20px;

  }
  .log{
      position: absolute;
      left: 0px;
      top: 0px;
  }
  
 
  .fimg {
    background-color: #8471fd36;
    width: 100%;
    padding: 20px;
  }
  
 
  .contenedor {
    background-color: #d2dae7;
    padding: 20px;
    margin-top: 20px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
 
  .footer {
    padding: 20px;
    text-align: center;
    background: #919db7;
    margin-top: 20px;
  }
  a{
    text-decoration: none;
    text-align: center;
  }
  a:hover{
    background-color: rgba(70, 61, 61, 0.562);
  }
  
 
  @media screen and (max-width: 800px) {
    .izquierda, .derecha {   
      width: 100%;
      padding: 0;
    }
  }
  
  
  @media screen and (max-width: 400px) {
    .pestaña a {
      float: none;
      width: 100%;
    }
  }