:root {
    /*Fondo*/
    --fondo: #c5bfbf;
    --fondoAzul: #c23c3c;

    /*Texto*/
    --texto1: #3c98b4;
    --texto2: #55a0ad;
    --texto3: #635a3e;

    /*Otros*/
    --verde: #3e3f9e;
    --lila: #46438b;
    --blanco: #ffffff;
    --plomo: #ccc;

    /*sombra*/
    --sombra: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --borde: 2px solid;
}

* {
    box-sizing: border-box;
}

h1 {
    color: var(--texto3);
}

h2 {
    color: var(--texto1);
}

p {
    color: var(--texto3);
    padding: 15px 5px 15px 0;
}

button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--fondo);
}

aside {
    width: 200px; height: 95%;
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 10px;
    overflow-x: hidden;
    padding: 8px;
    border-radius: 5px;
    background-color: var(--blanco);
    box-shadow: var(--sombra);
}

aside a, a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: var(--texto2);
    display: block;
}

aside a:hover {
    color: var(--lila);
}

/*Principal*/
.principal {
    margin-left: 220px;
    border-radius: 5px;
    position: relative;
    right: 300px;
}
/*Header*/
header {
    margin: 20px 10px 0 0;
    padding: 20px 20px 100px 80px;
    border-radius: 5px;
}

header form #buscador {
    margin: 5px 0 15px 5px;
    border: 2px solid var(--plomo);
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--fondo);
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 2s ease-in-out;
}

header .panel {
    background-color: var(--blanco);
    box-shadow: var(--sombra);
    max-width: 290px; height: 345px;
    border-radius: 10px; padding: 20px;
    margin: 15px 20px 0 5px;
}

.btnModoBlack {
    background-color: var(--blanco);
    border: 2px solid var(--texto2);
    margin-top: 40px;
    color: var(--texto2);
    transition: all 0.4s ease-in-out;
}

.btnModoBlack:hover, .principal nav button:hover {
    background-color: var(--texto2);
    color: var(--fondo);
    transition: all 0.4s ease-in-out;
}

#reloj {
    display: none;
}
/*FinHeader*/

/*Navbar*/
nav {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -90px;
}

.principal nav button {
    margin: 10px;
    min-width: 170px; min-height: 235px;
    padding-top: 90px;
    border: var(--borde) var(--texto2);
    background-color: var(--blanco);
    color: var(--texto2);

    transition: all 0.4s ease-in-out;
}

.principal nav button:hover {
    transform: scale(1.1);
}
/*FinNavbar*/

/*Main*/
article {
    background-color: var(--blanco);
    box-shadow: var(--sombra);
    border-radius: 10px; padding: 20px;
    margin: 15px 20px 0 5px;
}
/*FinMain*/
/*FinPrincipal*/

/*Flex*/
.fila {  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  
.columna {
    -webkit-flex: 1; -ms-flex: 1; flex: 1;
    padding: 10px;
}
/*FinFlex*/